body{
	font-family: 'Quicksand', 'OpenSans',sans-serif;
	font-size:1.0em;

	
	
}
form{
	display:block;
	flex-direction: column;
	justify-content: center;		 
	align-items: center;
	width: 60%;
	height: 95%;
	background: white ; 
	margin:auto;
	border: 2px solid LightGrey;
	text-align: center;
	margin-top:3%;
	
}



#barre_connexion{	
	text-align: left;
	margin-left: 40%;
}

#barre_recherche{
	text-align: left;
	margin-left: 40%;

}
#page_prod{
	text-align: left;
	margin-left: 40%;
}

#panier{	
	text-align: left;
	margin-left: 40%;

}

#gestion{	
	text-align: left;
	margin-left: 40%;

}