#bouton_recherche
{
	display : block;
	text-align : center;
	font-family: 'Quicksand', sans-serif;
	padding: 4px;
	background: WhiteSmoke;
	border: 2px solid LightGrey;
	border-radius: 6px;
	text-decoration: none;
}

.tout{
	min-height:500px; 
	width:100%;
	display: flex;
	justify-content:center;
	align-items:center;
}

#barrederecherche{
	width:50%;
	height:5%;
	padding:6px;
	margin:10px;
}
