/*
VERSION : 1.0
DATE : 22/09/17
AUTHOR : MATTE FLORIAN
			MERCIER-CHAUVE Julien -->
*/


form{
	display:block;
	flex-direction: column;
	justify-content: center;		 
	align-items: center;
	width: 306px;
	height: 420px;
	background: Gainsboro ; 
	margin:auto;
	border: 2px solid LightGrey;
	text-align: center;
}

	
.picture
{

}
	
.id
{
	margin: auto;
	margin-top: 30px;
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
}

table
{
	font-family: 'Quicksand', sans-serif;
	margin: auto;
	margin-top: 10px;
}

.button
{
	font-family: 'Quicksand', sans-serif;
	padding: 4px;
	background: WhiteSmoke;
	border: 2px solid LightGrey;
	border-radius: 6px;
	text-align: center;
	text-decoration: none;
}

.button:hover
{
	background: White;
}
