#carrousel{
       position:relative;
       max-height:50%;
       width:100%;
       margin:auto;
	background-color:blue;
	z-index:1;
	top
	
}
#carrousel ul li, #carrousel img{
	
	list-style: none;
       position:absolute;
	left:0;
       top:0;
       margin: 0;
       padding: 0;
	min-height: calc(100vh - 160px);
       width:100%;
}

.control{
	background-color:teal;
}
