/*BODY*/
body{
	font-family: 'Quicksand', 'OpenSans',sans-serif;
	font-size:1.2em;
	padding-top:10%;
}

button, .bouton, .connexion{
	font-family: 'Quicksand', 'OpenSans',sans-serif;
	font-size:1.2em;
	background-color: White;
	border:none;
	padding:6px;
	
	text-align:center;
	padding-left:15px;
	padding-right:15px;
	
}
.bouton { /*bouton lien header */
	
	border-right:solid 1px LightGrey		 
}

.connexion {

	border-left:solid 1px LightGrey 	;
}

/*HEADER*/
#header
{
	top:0;
	left:0;
	position:fixed;
	background-color:White;
	width:100%;
	height: 15%;

	border-bottom: 2px solid LightGrey;       
	box-shadow: 0px 2px 5px  LightGrey;
	text-align: center; 	

	z-index:2;
	
	display:flex;
	align-items: center;
	flex-wrap: nowrap;
	justify-content: space-between;
	
}

.logo{ 
	margin: auto;				 
	height:60px;	
}

.element_header:nth-child(1){
	text-align: left;
	flex:1;
}

.element_header:nth-child(2){
	align-self: center;	
}

.element_header:nth-child(3){
	
	flex:1;
	display: flex;
	justify-content:flex-end;
	align-items: center;
	
}

#search{ /*loupe*/
	width:40px;
}

ul, li{  /*panier liste*/
	list-style: none;
	padding: 0;
       margin: 0;
	width:100%;
}



a, a:visited{	/*lien bouton*/					 
	text-decoration:none;		 
	color: black;					 
}

/*FIN HEADER*/



/*PAGE*/
#page{	
	#background-color: LightGrey;

	min-height: calc(100vh - 140px);
	max-height: calc(100vh - 150px);
	flex:1;
	align-self: center;
	
	width:100%;
	
	
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	
	margin-top:8%;
	
	margin-bottom: 10%;
}
/*Barre de recherche*/
#searchfield{  /*pour main*/
	
	display:none;
	width:100%;
	justify-content:center;
	align-items:center;
}

.searchfield{  /*pour fichier recherche*/
	
	width:100%;
	justify-content:center;
	align-items:center;
}

#bouton_recherche
{
	display : flex;
	text-align : center;
	font-family: 'Quicksand', sans-serif;
	padding: 4px;
	background: WhiteSmoke;
	border: 2px solid LightGrey;
	border-radius: 6px;
	text-decoration: none;
}

form{
	width:100%;
	display:flex;
	justify-content:center;
	align-items:center;
	
}

#barrederecherche{
	width:50%;
	height:5%;
	padding:6px;
	margin:10px;
}
/*fin barre de recherche*/

/*formulaire connexion*/


#form{
	display:none;
	flex-direction: column;
	justify-content: center;		 
	align-items: center;
	width: 306px;
	height: 420px;
	#background: Gainsboro ; 
	margin:auto;
	border: 2px solid LightGrey;
	text-align: center;
}

.id
{
	margin: auto;
	margin-top: 30px;
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
}

table
{
	font-family: 'Quicksand', sans-serif;
	margin: auto;
	margin-top: 10px;
}

.buttonok
{
	font-family: 'Quicksand', sans-serif;
	padding: 4px;
	background: WhiteSmoke;
	border: 2px solid LightGrey;
	border-radius: 6px;
	text-align: center;
	text-decoration: none;
}

.buttonok:hover
{
	background: White;
}
/*fin formulaire connexion*/

/*carrousel*/
.control{
	padding:auto;
	margin:auto;
	
	
}
.next, .prev{
	cursor: pointer;
	display:flex;
	
	
}
#carrousel{
	max-height:calc(100vh -200px);
       width:100%;
	#background-color: Blue;
	z-index:1;
}

#carrousel img{
       width:100%;
}
/* fin carrousel*/

/*FOOTER*/
.basPage{ 
	padding:6px;			 
	text-align: center;
	width: 15%;
}

footer
{
	left:0;
	position:fixed;
	background-color: White;
	z-index:2;
	border-top: 2px solid LightGrey;       
	box-shadow: 0px -2px  5px LightGrey;
	bottom:0px;				 
	width:100%;
	height:10%;
	display:flex;			 
	justify-content: center;		 
	align-items: center;		
}
/*FIN FOOTER*/


/*PANIER*/
.dropdown:hover > #cart-dropdown{
       display: block;
}


