/*
VERSION : 1.0
DATE : 10/11/17
AUTHOR : MATTE FLORIAN
			MERCIER-CHAUVE Julien -->
*/

table
{
	font-family: 'Quicksand', sans-serif;
	margin: auto;
	margin-top: 10px;
	border: 3px;
	justify-content: center;
}

.button
{
	font-family: 'Quicksand', sans-serif;
	padding: 6px;
	background: WhiteSmoke;
	border: 2px solid LightGrey;
	border-radius: 6px;
	text-align: center;
	text-decoration: none;
}

.button:hover
{
	background: White;
}

form{
	display:block;
	flex-direction: column;
	justify-content: center;		 
	align-items: center;
	width: 350px;
	height: 150px;
	background: Gainsboro ; 
	margin:auto;
	border: 2px solid LightGrey;
	text-align: center;
}